@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;700&display=swap');

:root {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: #171717;
    --red: #D83933;
    --violet: #FF00FF;
    --blue: #0050D8;
}

form {
    width: 80%;
    margin: 0 auto;
}

h1 {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 28px;
}

h2 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 24px;
}

h4 {
    font-size: 1.4rem;
    line-height: 140%;
}

label {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 140%;
}

input,
select {
    width: 450px;
    height: 40px;
    font-size: 1.6rem;
    line-height: 140%;
    border: 1px solid #ADADAD;
    border-radius: 4px;
}

input[type="checkbox"] {
    accent-color: var(--violet);
}

.red {
    color: var(--red);
}

.grey {
    background-color: #EFEFEF;
}

.m-b-100 {
    margin-bottom: 100px;
}

.m-l-160 {
    margin-left: 160px;
}

.form-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.form-item {
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
}

.form-item-one {
    width: 450px;
}

.form-container-btn {
    display: flex;
}

.form-item-btn {
    display: flex;
    align-items: center;
}

.btn-small {
    width: 24px;
    height: 24px;
    border: 1px solid #ADADAD;
    border-radius: 2px;
    margin-right: 20px;
}

.line {
    margin: 30px 0;
}

.glass {
    background-image: url(../img/glass.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 20px;
}


.btn-next {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 140%;
    color: #FFFFFF;
    width: 69px;
    height: 40px;
    background-color: var(--blue);
    border-radius: 4px;
    border: 1px solid var(--blue);
    text-align: center;
    float: right;
    margin: 50px 0;
}